* {
    box-sizing: border-box;
}


ul{
    background-color: darkslategrey;
    padding: 20px;
    margin: 0;
}
li{
    border-right: 2px solid black;
    display: inline;
    color: white;
    padding: 10px;
    margin: 0 10px;
}

#itheader{
    background-color: deepskyblue;
    text-align: center;
    padding: 10px;
}

#itmenu{
    background-color: deepskyblue;
}

#col1{
    background-color:dimgray;
}

#col2{
    background-color: gray;
}

#col3{
    background-color:darkgray;
}


#col1,#col2,#col3 {
    width: 100%;
    height: 400px;
    padding: 10px;
}

#footer{
    background-color: darkslategrey;
    text-align: center;
    padding: 10px;
    color: white;
}



/*Grid Item Six*/

.grid-containersix{
    display: grid;
    grid-template-areas:'header header header''menu menu menu''col1 col2 col3' 'footer footer footer';
}

.grid-containersix > div{
    font-size: 30px;
}


.grid-itemheader{
    grid-area: header;
}

.grid-itemmenu{
    grid-area: menu;
}

.grid-itemcol1{
    grid-area:col1;
}

.grid-itemcol2{
    grid-area: col2;
}

.grid-itemcol3{
    grid-area:col3;
}

.grid-itemfooter{
    grid-area:footer;
}

.validation{
    float:right;
    clear: right;
}



@media screen and (max-device-width: 600px) {
    .grid-containersix{
        display: grid;
        grid-template-areas:'header header header''menu menu menu''col1 col3 col3' 'col2 col2 col2' 'footer footer footer';
    }


}
