/**{*/
/*    border-box;*/
/*}*/

body,
html {
    margin: 0;
    padding: 0;
}


#container{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-top: 100px;
}

.all_input{
  float: left;
}

#circleContainer{
    background: yellow;
    position: relative;
    margin-left: 500px;
}

#btSize{
    height:30px;
}

#cicle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d96065;
    position: absolute;
}